target/
.idea
project/project
project/target
.vscode
metals.sbt
.bloop
.metals
.bsp
.openapi-generator
party-management-client/src/
party-process-client/src/
user-registry-client/src/
selfcare-v2-client/src/
.DS_Store
party-process-client/project/build.properties
party-management-client/project/build.properties
user-registry-client/project/build.properties
selfcare-v2-client/project/build.properties
.env