/**
 * Party Process Micro Service
 * This service is the party process
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package it.pagopa.interop.selfcare.partyprocess.client.api

    import it.pagopa.interop.selfcare.partyprocess.client.model.Institution
    import it.pagopa.interop.selfcare.partyprocess.client.model.PartyRole
    import it.pagopa.interop.selfcare.partyprocess.client.model.Problem
    import it.pagopa.interop.selfcare.partyprocess.client.model.ProductState
    import it.pagopa.interop.selfcare.partyprocess.client.model.Products
    import it.pagopa.interop.selfcare.partyprocess.client.model.RelationshipInfo
    import it.pagopa.interop.selfcare.partyprocess.client.model.RelationshipState
    import java.util.UUID
import it.pagopa.interop.selfcare.partyprocess.client.invoker._
import it.pagopa.interop.selfcare.partyprocess.client.invoker.CollectionFormats._
import it.pagopa.interop.selfcare.partyprocess.client.invoker.ApiKeyLocations._

    object ExternalApi {
    def apply(baseUrl: String = "https://party-process") = new ExternalApi(baseUrl)
    }


    class ExternalApi(baseUrl: String) {
  /**
   *             Gets institution using external institution id
   * 
   * Expected answers:
   *   code 200 : Institution (successful operation)
   *   code 400 : Problem (Invalid id supplied)
   *   code 404 : Problem (Not found)
   * 
   * Available security schemes:
   *   apiKeySelfcare (apiKey)
   * 
   * @param xSelfcareUid 
   * @param externalId The external identifier of the institution
   */
        def getInstitutionByExternalId(
                                                                    externalId:
                String
                                            )
        (xSelfcareUid:String)(implicit apiKeySelfcare:ApiKeyValue): ApiRequest[Institution] =
        ApiRequest[Institution](ApiMethods.GET, baseUrl, "/external/institutions/{externalId}", "application/json")
        .withApiKey(apiKeySelfcare, "Ocp-Apim-Subscription-Key", HEADER)
        
        
        
        
        .withPathParam("externalId", externalId)
        .withHeaderParam("x-selfcare-uid", xSelfcareUid)
        .withSuccessResponse[Institution](200)
        .withErrorResponse[Problem](400)
        .withErrorResponse[Problem](404)
        

  /**
   *             Return ok
   * 
   * Expected answers:
   *   code 200 : Seq[RelationshipInfo] (successful operation)
   *   code 400 : Problem (Invalid institution id supplied)
   * 
   * Available security schemes:
   *   apiKeySelfcare (apiKey)
   * 
   * @param xSelfcareUid 
   * @param externalId The external identifier of the institution
   * @param personId the person identifier
   * @param roles comma separated sequence of role to filter the response with
   * @param states comma separated sequence of states to filter the response with
   * @param products comma separated sequence of products to filter the response with
   * @param productRoles comma separated sequence of product roles to filter the response with
   */
        def getUserInstitutionRelationshipsByExternalId(
                                                                    externalId:
                String,
                                                                    personId:
                Option[UUID],
                                                        roles:
                Seq[PartyRole],
                                                        states:
                Seq[RelationshipState],
                                                        products:
                Seq[String],
                                                        productRoles:
                Seq[String]
                                )
        (xSelfcareUid:String)(implicit apiKeySelfcare:ApiKeyValue): ApiRequest[Seq[RelationshipInfo]] =
        ApiRequest[Seq[RelationshipInfo]](ApiMethods.GET, baseUrl, "/external/institutions/{externalId}/relationships", "application/json")
        .withApiKey(apiKeySelfcare, "Ocp-Apim-Subscription-Key", HEADER)
        
        
        
        .withQueryParam("personId", personId).withQueryParam("roles", ArrayValues(roles, CSV)).withQueryParam("states", ArrayValues(states, CSV)).withQueryParam("products", ArrayValues(products, CSV)).withQueryParam("productRoles", ArrayValues(productRoles, CSV))
        .withPathParam("externalId", externalId)
        .withHeaderParam("x-selfcare-uid", xSelfcareUid)
        .withSuccessResponse[Seq[RelationshipInfo]](200)
        .withErrorResponse[Problem](400)
        

  /**
   *             retrieves the products this institution is related to.
   * 
   * Expected answers:
   *   code 200 : Products (successful operation)
   *   code 404 : Problem (Institution not found)
   * 
   * Available security schemes:
   *   apiKeySelfcare (apiKey)
   * 
   * @param xSelfcareUid 
   * @param externalId The external identifier of the institution
   * @param states comma separated sequence of states to filter the response with
   */
        def retrieveInstitutionProductsByExternalId(
                                                                    externalId:
                String,
                                                                    states:
                Seq[ProductState]
                                )
        (xSelfcareUid:String)(implicit apiKeySelfcare:ApiKeyValue): ApiRequest[Products] =
        ApiRequest[Products](ApiMethods.GET, baseUrl, "/external/institutions/{externalId}/products", "application/json")
        .withApiKey(apiKeySelfcare, "Ocp-Apim-Subscription-Key", HEADER)
        
        
        
        .withQueryParam("states", ArrayValues(states, CSV))
        .withPathParam("externalId", externalId)
        .withHeaderParam("x-selfcare-uid", xSelfcareUid)
        .withSuccessResponse[Products](200)
        .withErrorResponse[Problem](404)
        



    }

