/**
 * pdv-ms-user-registry
 * User Registry API documentation
 *
 * The version of the OpenAPI document: 1.0-SNAPSHOT
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package it.pagopa.interop.selfcare.userregistry.client.api

    import it.pagopa.interop.selfcare.userregistry.client.model.Field
    import java.util.UUID
    import it.pagopa.interop.selfcare.userregistry.client.model.UserResource
import it.pagopa.interop.selfcare.userregistry.client.invoker._
import it.pagopa.interop.selfcare.userregistry.client.invoker.CollectionFormats._
import it.pagopa.interop.selfcare.userregistry.client.invoker.ApiKeyLocations._

    object UserApi {
    def apply(baseUrl: String = "https://user-registry") = new UserApi(baseUrl)
    }


    class UserApi(baseUrl: String) {
  /**
   *             Retrieve the user by its internal id
   * 
   * Expected answers:
   *   code 200 : UserResource (OK)
   *   code 401 :  (Unauthorized)
   *   code 403 :  (Forbidden)
   *   code 404 :  (Not found)
   * 
   * Available security schemes:
   *   apiKeyHeader (apiKey)
   * 
   * @param id User internal id
   * @param fl Field list. Subset of fields to be retrieved for the requested resource
   */
        def findByIdUsingGET(
            id:
                UUID,
                                                                    fl:
                Seq[Field]
                                )
        (implicit apiKeyHeader:ApiKeyValue): ApiRequest[UserResource] =
        ApiRequest[UserResource](ApiMethods.GET, baseUrl, "/users/{id}", "application/json")
        .withApiKey(apiKeyHeader, "x-api-key", HEADER)
        
        
        
        .withQueryParam("fl", ArrayValues(fl, MULTI))
        .withPathParam("id", id)
        
        .withSuccessResponse[UserResource](200)
        .withErrorResponse[Unit](401)
        .withErrorResponse[Unit](403)
        .withErrorResponse[Unit](404)
        



    }

